<div class="basic-grey">
<p id="notice"><%= notice %></p>

<h1><%="#{t('listar')} #{@kinds.model.model_name.human(count: @kinds.count)}"%> </h1>

<table>
  <thead>
    <tr>
      <th><%=@kinds.model.human_attribute_name(:description)%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kinds.each do |kind| %>
      <tr>
        <td><%= kind.description %></td>
        <td><%= link_to t('buttons.Show'), kind %></td>
        <td><%= link_to t('buttons.Edit'), edit_kind_path(kind) %></td>
        <td><%= link_to t('buttons.Destroy'), kind, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('buttons.new_kind'), new_kind_path %>
</div>
