<!DOCTYPE html>
<html>
  <head>
    <title>Agenda</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <%=render 'layouts/header' %>
    <%= yield %>
    
  </body>
</html>
